[Unit]
Description=Logging output
After=network-online.target docker.service iotedge.socket iotedge.mgmt.socket
Requires=iotedge.socket iotedge.mgmt.socket

[Service]
StandardOutput=tty
ExecStart=/bin/bash -c '/output.sh'
KillMode=process
TimeoutStartSec=600
TimeoutStopSec=40
Restart=always
RestartPreventExitStatus=153

[Install]
WantedBy=multi-user.target